@font-face{
    font-family: Allura-Regular;
    src: url("../fonts/allura/Allura-Regular.ttf");
}

@font-face{
    font-family: Barlow;
    src: url("../fonts/barlow/Barlow-Regular.otf");
}
@font-face{
    font-family: BarlowCondensed-ExtraBold;
    src: url("../fonts/barlow/BarlowCondensed-ExtraBold.otf");
}
@font-face{
    font-family: BarlowSemiCondensed-SemiBold;
    src: url("../fonts/barlow/BarlowSemiCondensed-SemiBold.otf");
}
.navbar-section .navbar a{
    font-family: BarlowCondensed-ExtraBold;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 22px;
    margin: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 7px 0;
    cursor: pointer;
}

.navbar-section .navbar-brand img{
    max-height: 15vh;
}
.home-section .carousel-item{
    max-height: 85vh;
}
.note-section .jumbotron{
    font-family: BarlowSemiCondensed-SemiBold;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: .625px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
.about-section h2{
    font-family: Allura-Regular;
    line-height: 100%;
    font-size: 80px;
    text-transform: capitalize;
}
.about-section p{
    font-family: Barlow,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
.hour-section .jumbotron{
    font-family: BarlowSemiCondensed-SemiBold;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    text-transform: capitalize;
    letter-spacing: .625px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
.hour-section i{
    font-size: 48px;
}
.menu-section .nav-tabs a{
    font-family: BarlowSemiCondensed-SemiBold;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 22px;
    margin: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 7px 0;
    cursor: pointer;
}
.menu-section .nav-tabs a span{
    font-family: Barlow;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    margin: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 7px 0;
    cursor: pointer;
}
.nav-tabs .nav-link.active{
    color: #28A745 !important;
}

.menu-section h2{
    font-family: Allura-Regular;
    line-height: 100%;
    font-size: 80px;
    text-transform: capitalize;
}
.menu-section h3{
    font-family: Allura-Regular;
    line-height: 100%;
    font-size: 50px;
    text-transform: capitalize;
}
.menu-section .p-name{
    font-family: Barlow;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 22px;
    margin: 0 20px;
    text-decoration: none;
    text-transform: capitalize;
    padding: 7px 0;
    cursor: pointer;
}
.menu-section .p-desc{
    font-family: Barlow;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin: 0 20px;
    text-decoration: none;
    text-transform: capitalize;
    padding: 7px 0;
    cursor: pointer;
}